  @font-face {
       font-family: 'ReformaGroteskBoldC';
       src: url('../fonts/ReformaGroteskBoldC.woff2') format('woff2'),
            url('../fonts/ReformaGroteskBoldC.woff') format('woff');
       font-weight: bold;
       font-style: normal;
       font-display: swap;
  }

  @font-face {
       font-family: 'ReformaGroteskMediumC';
       src: url('../fonts/ReformaGroteskMediumC.woff2') format('woff2'),
            url('../fonts/ReformaGroteskMediumC.woff') format('woff');
       font-weight: 500;
       font-style: normal;
       font-display: swap;
  }

  @font-face {
       font-family: 'ReformaGroteskDemiC';
       src: url('../fonts/ReformaGroteskDemiC.woff2') format('woff2'),
            url('../fonts/ReformaGroteskDemiC.woff') format('woff');
       font-weight: normal;
       font-style: normal;
       font-display: swap;
  }